@import "normalize.scss";
$navTextColor: #878787;
$pricingText: center; 
$priceMargin: 0 0.5em;
$border:.1em solid #DDD;



header{
	background-color: #fff;
	padding: .5em 1em .75em;
	
	.logo{
		float:left;
		color:$navTextColor;
	}
	.nav{
		float:right;
	}
	span {
		padding-right: 1.5em;
	}
	.greyNav {
		color:$navTextColor;
	}
}
main{
	.heroImg{
		background-image: url("../background.jpg");
		background-repeat: no-repeat;
		height:14em;
		margin-bottom: 3em;
		
	}
	h1 {
		text-align: center;
		color: white;
		padding-top:2em;
		font-weight: normal;
		text-shadow: 1px 1px 2px black;
	}
}

.pricing {
	.priceHero{
		margin: $priceMargin;
		text-align: $pricingText;
		color: white;
		padding: 2em;
		text-align:center;

	}
	.priceTitle{
		letter-spacing: .1em;
	}
	.priceAmt{
		font-size: 6em;
		font-weight: lighter;
	}
	.perMnth{
		color:#ccc;
		font-size:1.3em;

	}
	.priceDetails{
		margin:  $priceMargin;
		text-align: $pricingText;
		background-color: #F7F7F7;
			div{
				padding: .6em;
				border-bottom: $border;
				border-right: $border;
				border-left: $border;
				color: #57686E;

			}	

	}
	.chooseBtn{
		margin:  0 0.5em;
		background-color:white;
		text-align:center;
		font-weight:bold;
		border-bottom: $border;
		border-right: $border;
		border-left: $border;
		padding: 2em 4em;
			span{
				border: $border;
				padding: 0.6em 1em;
				border-radius: 2em;
					&:hover{background: rgba(147,206,222,1);}
			}
		
		
	}
	.personal {
		background-color:#289952;

	}
	.smallBus{
		background-color: #2C4387;
		margin-top:1em;
	}
	.enterprise{
		background-color: #000;
		margin-top:1em;
	}
	.enterpriseBTN{
		margin-bottom: 3.5em;
	}

}

.information{
	padding: 2em;

	h3{
		letter-spacing: .2em;
		font-weight:normal;

	}
	p{
		color: #66757B;
		line-height: 1.5em;
		margin-bottom:3em;
	}
	.paraBtm {
		margin-bottom:0;
	}
}
footer{
	background-color:#000;
	text-align:center;
	color: $navTextColor;
	padding:2em;
	line-height:1.5em;
		span{
			color:white;
			text-decoration: underline;
		}

}

//sm breakpoint
@media screen and (min-width: 479px){
	header{
		padding: 1em 1em 1.5em;
	}
	main{
		.heroImg{
			height:15em;
			padding-top:9em;
		}
		h1 {
			padding-top:0;
		}
	}
}

//md breakpoint
@media screen and (min-width: 767px){

	.pricing{
		width:33.3%;
		display:inline-block;
		box-sizing:border-box;
		margin-right: -.5em;
		border: .5em solid white;
		.chooseBtn {margin:0;}

		.priceHero{
				margin:0;
		}
		.priceDetails{
				margin:0;
		}

		

	}
	.information {
		padding:0;
		.bottomInfo{
			display: inline-block;
			width:49%;
			padding:.5em 1em;
			box-sizing:border-box;
			vertical-align: top;
		}
	}

}

//lg breakpoint
@media screen and (min-width: 979px){
	main{
		.heroImg{
			background-size:cover;
		}
	}
	.pricing .priceTitle{
		letter-spacing: .04em;
	}
	.threeBlock{
		margin: 0 15%;
	}
	.information{
		margin: 0 15%;
	}
	
}